# Filtering out IDE specific folders
.idea

# Don't include the env files
.env
.env.*
**/.env.*

# Ignore mac files
.DS_Store

# Ignore R project files
.Rproj.user
*.Rproj

# Ignore test coverages and results
htmlcov/
junit/
coverage.xml
.coverage

# Ignore local data files
registry/datafile/*
